<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <!--<add name="SurveyEntities" connectionString="metadata=res://*/SurveyModel.csdl|res://*/SurveyModel.ssdl|res://*/SurveyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAR\SQLEXPRESS;initial catalog=Survey;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <add name="SurveyEntities" connectionString="metadata=res://*/SurveyModel.csdl|res://*/SurveyModel.ssdl|res://*/SurveyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.8.27.20;initial catalog=office_codetix;User Id=office_codetix;Password=gido1943;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off"/>
    </system.web>
</configuration>
